@import "./app.css";
@import "./home.css";
@import "./game.css";
@import "./addWord.css";
@import "./finishedGame.css";
@import "./notAvailable.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-image: url('../assets/blurry-gradient-haikei.png');
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 300vh;
  max-width: 300vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:disabled {
  background-color: #ccc;
  border-color: #ccc;
  color: #888;
  cursor: not-allowed;
  opacity: 0.6;
}

input {
  width: 200px;
  
  background: none;
  padding-top: 20px;
  border:none;
  border-width: medium;
  border-radius: 3px;
  outline:0;

  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 120%;
  text-align: center;
}